.todo-details{
    position: absolute;
    transform: translateY(100%);
    z-index:5;
    bottom:0;
    left:0;
    width:100%;
    max-height:90%;
    background:#fff;
    border-radius: 15px;
    transition: 0.4s transform;
    overflow: hidden;

    &.active{
        transform: translateY(0%);
    }
}

.todo-details_head{
    padding:14px 0px;
    font-size:20px;
    margin-bottom:15px;
    text-align: center;
    background:#eee;
}

.todo-details_body{
    padding:20px;
    max-height:80%;
    overflow-y:auto;
    margin-bottom: 40px;
}

.todo-details_section-container{
    display: flex;
}

.todo-details_section{
    margin-right:20px;
}

.todo-details_options{
    margin-bottom:10px;
}

.cb-contanier{
    $cbWidth:45px;
    $cbHeight:25px;
    $cbColor:#b1b1b1;
    $cbCheckedColor:#16acf1;

    $cbCircleGap:4px;
    $cbCircleSize:$cbHeight - $cbCircleGap;
    $cbCircleColor:#fff;

    display:flex;
    align-items: center;
    cursor: pointer;
    input{
        display:none;
        &:checked ~ span.cb-style{
            background:$cbCheckedColor;
        }

        &:checked ~ span.cb-style:after{
            transform:translateX($cbWidth - $cbHeight);
        }
    }

    span.cb-style{
        display: inline-block;
        width: $cbWidth;
        height: $cbHeight;
        border-radius: $cbHeight / 2;
        transition: transform .25s;
        position: relative;
        background: #b1b1b1;

        &:after{
            content: " ";
            display: block;
            width: $cbCircleSize;
            height: $cbCircleSize;
            top: $cbCircleGap / 2;
            left: $cbCircleGap / 2;
            border-radius: 50%;
            background: #fff;
            position: absolute;
            box-shadow: 1px 2px 4px 0 rgba(#000, .4);
            transition: .15s;
        }
    }

    span.cb-text{
        font-size:16px;
        margin-left:10px;
        user-select: none;
    }
}

.todo-details_selectdate{
    display:flex;
    opacity:0;
    transition: 0.2s opacity ease;
    height: 0;

    &.active{
        opacity:1;
        height: initial;
    }
}

.todo-details_footer{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width:100%;
    bottom: 15px;
    padding: 0 20px;
}

.todo-details_curritemtext{
    max-height: 90px;
    overflow-y: auto;
}

.todo-details_btn{
    font-weight: bold;
    cursor: pointer;
    color:$checkboxCheckColor;
    user-select: none;
}

.todo-details_btn:hover{
    color:darken($color: $checkboxCheckColor, $amount: 15%);
}

#todo-details_delete{
    color:#eb2e2e;
}

.todo-details_input{
    font-size:16px;
    background:#ffffff;
    border:1px solid #b3b3b3;
    border-radius: 3px;
    display: flex;
    padding:5px;
}

input.todo-details_input{
    width:130px;
    -webkit-appearance: none;
    box-shadow: none;
    margin-right:10px;
}

div.todo-details_input{
    padding:1px;
    display: flex;
    align-items: center;
    padding-right:2px;
}

div.todo-details_input span{
    font-size:16px;
    padding:0 1px;
    height: 25px;
    user-select: none;
}

.todo-details_input:focus{
    outline:0;
    box-shadow: 0 1px 6px 1px rgba(0,0,0,.2);
}

.todo-details_input select{
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border:0;
    background:#ffffff;
    border-radius: 3px;
    font-size: 16px;
    padding:4px;
}